@import "tailwindcss";

:root {
  --font-founder: "Founder", sans-serif; 
  --font-new: "New", sans-serif; 
}

@font-face {
    font-family: "Founder";
    src: url(./assets/fonts/FoundersGrotesk-Semibold.woff2) format(woff2);
}
@font-face {
    font-family: "New";
    src: url(./assets/fonts/NeueMontreal-Regular.woff2) format(woff2);
}


html, body{
    background-color: #E9E1D4;
}